<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title>{{ title }} | {{site.title}}</title>
    {% else %}
      <title>{{site.title}}</title>
    {% endif %}
    <meta name="Description" content="{{ renderData.description or description or site.description }}">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ '/css/styles.css' | url }}">
  </head>
  <body class="bg-gray-darkest">
    <!-- include svg sprite -->
    <span style="display:none;">{% include "svg/sprite.symbol.svg" %}</span>
    <header class="flex items-center justify-center py-10">
      <div class="w-40">
        <img src="assets/images/nightmoves.png" alt=""/>
      </div>
    </header>
    <main class="container flex flex-col justify-center items-center flex-1 mx-auto py-8">
      {{ content | safe }}
    </main>
    <script src="/javascript/index.js"></script>
  </body>
</html>